 <!-- closing -->
 <section style="background-color: #13d0dc; padding: 100px 0px">
    <div class="container">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-8">
            <h1>Start Shopping Now</h1>
          </div>
          <div class="col-2">
            <a class="btn px-5 py-3" href="#" role="button" style="background-color: #00ffc4">Sign Up</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End closing -->
  <!-- Footer -->
  <section style="background-color: #1f2931" id="footer" class="py-5">
    <div class="container">
      <div class="container-fluid">
        <div class="row">
          <div class="col-4">
            <h1 class="text-white">TokoKu</h1>
            <p style="font-size: 10px">
              All loans under TendoPay are financed by Templetech Finance Corp (SEC Registration No. CS201820732, Certificate of Authority No. 1228). Please study the terms and conditions in the Disclosure Statement before proceeding with a loan transaction. <br /><br />
              ©2021 TendoPay by Templetech Finance Corp. an SEC Licensed Financing Company
            </p>
          </div>
          <div class="col-2">
            <p>PRODUCT <br /></p>
            <p>How It Works</p>
            <p>Where to Shop</p>
            <p>Repayments</p>
          </div>
          <div class="col-2">
            <p>PRODUCT <br /></p>
            <p>How It Works</p>
            <p>Where to Shop</p>
            <p>Repayments</p>
          </div>
          <div class="col-2">
            <p>PRODUCT <br /></p>
            <p>How It Works</p>
            <p>Where to Shop</p>
            <p>Repayments</p>
          </div>
          <div class="col-2">
            <p>PRODUCT <br /></p>
            <p>How It Works</p>
            <p>Where to Shop</p>
            <p>Repayments</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Footer -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>