<%- include('partials/header', {isLogin}) %>
<div class="container">
  <div class="container-fluid">
    <% for (const key of errors) {%>
    <p><%= key.message %></p>
    <% } %>
  </div>
</div>
<%- include('partials/footer') %>
