<%- include('partials/header', {isLogin, isAdmin}) %>
<div class="container my-5">
  <div class="container-fluid">
    <% errors.forEach((key)=>{ %>
    <p class="text-center"><%= key.message %></p>
    <% }) %>
  </div>
</div>
<%- include('partials/footer') %>
